<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="oAuthTokenPerson" value="INSERT PERSON TOKEN HERE"/>
    <add key="oAuthTokenBot" value="INSERT BOT TOKEN HERE"/>
    <add key="WeatherApiKey" value="INSERT WEATHER API TOKEN HERE"/>
  </appSettings>
</configuration>